.root {
    -fx-border-style: hidden;
    -fx-border-width: 0;
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-background-radius: 20;
}

.button{
    -fx-background-color: #31FF3B;
    -fx-background-radius: 20 0 0 20;
}
.button:hover{
    -fx-background-color: #24BF2C;
    -fx-background-radius: 20 0 0 20;
}
.button:pressed{
    -fx-background-color: #18801D;
    -fx-background-radius: 20 0 0 20;
}

.buttonEnd{
    -fx-background-color: #FF4933;
    -fx-background-radius: 20 0 0 20;
}
.buttonEnd:hover{
    -fx-background-color: #BF3626;
    -fx-background-radius: 20 0 0 20;
}
.buttonEnd:pressed{
    -fx-background-color: #802419;
    -fx-background-radius: 20 0 0 20;
}

#breakdownDescription {
    -fx-text-fill: yellow;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
}

#myLabel {
    -fx-text-fill: yellow;
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
}
#timerLabel {
    -fx-text-fill: yellow;
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
}
#myTextField {
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 18;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
}